<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanmimei"
    android:versionCode="11"
    android:versionName="0.1.3" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    <!-- 添加访问网络的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    
    <application
        android:name="com.hanmimei.application.HMMApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hanmimei.activity.FirstShowActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hanmimei.activity.IndroductionActivity"
            android:screenOrientation="portrait" 
            android:theme="@style/SplashStyle" />
        <activity
            android:name="com.hanmimei.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.ThemeGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.MyOrderActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.hanmimei.activity.CouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeForOrder" />
        <activity
            android:name="com.hanmimei.activity.IdCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.AdressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.EditAdressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.GoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.AboutIdCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.CheckPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.ForgetPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.GoodsBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.ShoppingCarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.EditUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.EditUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.GoodsDetailImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.OrderSubmitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.CustomerServiceActivity"
            android:screenOrientation="portrait" 
			android:windowSoftInputMode="adjustPan"   />
        <activity
            android:name="com.hanmimei.upload.ImageGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.upload.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.upload.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.PingouDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.PingouResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.PingouLiuChengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.AboutWeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hanmimei.activity.SuggestionActivity"
            android:screenOrientation="portrait" />
		<activity
            android:name="com.hanmimei.activity.HmmServiceActivity"
            android:screenOrientation="portrait" />
		<activity
            android:name="com.hanmimei.activity.MyPinTuanActivity"
            android:screenOrientation="portrait" />
		<activity
            android:name="com.hanmimei.activity.PingouDetailSelActivity"
            android:screenOrientation="portrait" />
        <!-- 友盟相关 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 微信平台 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 新浪微博 -->
        <activity
            android:name=".wxapi.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>
        <!-- QQ／QQ空间 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟appkey -->
         
         
         <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="567bb26867e58e3f670002fd" >
        </meta-data>
        
        <!-- 设置AppKey -->
       <meta-data android:name="TESTIN_APPKEY" android:value="058ce4b48f9c7d6ddf2f835b0d5774bf"/>
       <!-- 设置渠道信息 -->
       <meta-data android:name="TESTIN_CHANNEL" android:value=""/>
    </application>

</manifest>