<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakao.kakaogift"
    android:versionCode="1"
    android:versionName="v1.0.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <permission
        android:name="com.kakao.kakaogift.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- 添加访问网络的权限 -->
    <!-- 允许程序获取当前或最近运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 程序可以读取设备外部存储空间（内置SDcard和外置SDCard）的文件，如果您的App已经添加了“WRITE_EXTERNAL_STORAGE ”权限 ，则就没
		必要添加读的权限了，写权限已经包含了读权限了。 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序写入外部存储,如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序从非系统拨号器里输入电话号码 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
   <!--  改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--  改变网络状态如是否能联网-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 允许读写系统设置项 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 极光 -->
    <uses-permission android:name="com.kakao.kakaogift.permission.JPUSH_MESSAGE" />
    <!--  -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--  允许程序在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 挂载、反挂载外部文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Optional. Required for location feature -->
    <!-- 允许程序访问额外的定位提供者指令 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 读取系统底层日志 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--  ，允许程序请求验证从AccountManager-->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- 允许程序管理AccountManager中的账户列表 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
   <!--  设置调试程序，一般用于开发-->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <!--  显示系统窗口-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 访问GMail账户列表 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.kakao.kakaogift.application.KKApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/gift_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kakao.kakaogift.activity.FirstShowActivity"
            android:label="@string/gift_app_name"
            android:screenOrientation="portrait" 
            android:theme="@style/SplashStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.kakaogift.activity.DoJumpActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="data"
                    android:scheme="hmmapp" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.kakaogift.activity.IndroductionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle" />
        <activity
            android:name="com.kakao.kakaogift.activity.HMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.theme.ThemeGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.WeixinPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.order.MyOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.order.CopyOfMyOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.coupon.MyCouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeForOrder" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.address.MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.address.EditAdressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.detail.GoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.order.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.config.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.login.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kakao.kakaogift.activity.login.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.login.CheckPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.login.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.login.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.balance.GoodsBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.car.ShoppingCarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.user.EditUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.user.EditUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.detail.GoodsDetailImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.balance.OrderSubmitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.collect.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.apply.CustomerServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.kakao.kakaogift.upload.ImageGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.upload.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.upload.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.pin.PingouDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.pin.PingouResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.pin.PingouLiuChengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.order.LogisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.config.AboutWeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.config.SuggestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.config.HmmServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.pin.MyPingouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.pin.PingouDetailSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.message.MessageTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.message.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.pin.MyPingouDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.h5.Html5LoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.apply.ApplyRefundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.comment.PubCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.kakao.kakaogift.activity.mine.comment.CommentGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.comment.GoodsCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.kakaogift.activity.goods.comment.GoodsCommentImgActivity"
            android:screenOrientation="portrait" />

        <!-- 友盟相关 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 微信平台 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- 新浪微博 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.kakao.kakaogift.gallery.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".GestureImageActivity" />

        <!-- QQ／QQ空间 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105332776" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- alipay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.kakao.kakaogift" />
            </intent-filter>
        </service>
        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.kakao.kakaogift" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
				
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.kakao.kakaogift" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- 极光推送广播接收者 ，处理推送结果 -->
        <receiver
            android:name="com.kakao.kakaogift.receiver.PushReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.kakao.kakaogift" />
            </intent-filter>
        </receiver>

        <!-- 友盟   appkey -->
        <meta-data            android:name="UMENG_APPKEY"            android:value="57971d05e0f55a855c002128" />
        <!-- Testin AppKey -->
        <meta-data            android:name="TESTIN_APPKEY"            android:value="058ce4b48f9c7d6ddf2f835b0d5774bf" />
        <!-- 极光推送 AppKey -->
        <meta-data            android:name="JPUSH_APPKEY"            android:value="a81748f2ead4ab0faef89329" />
        <!-- glide 图片处理配置 -->
        <meta-data            android:name="com.kakao.kakaogift.override.GlideConfiguration"            android:value="GlideModule" />
        <!-- 百度开发者平台 -->
        <meta-data            android:name="BDAPPID"            android:value="8228990" />
        <meta-data            android:name="BDAPPKEY"            android:value="x6opgN1tKTyIy3GuzA4camG6reNnGtiT" />
    </application>

</manifest>
